@import './shadows';
@import './font';
@import './button';
@import './mobile';

@mixin inputbox{
    font-weight: map-get($font-weights , bold );
    padding: 10px 15px 10px 15px;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: $navshadow;

    // Center the nav content on mobile
    @include center-on-mobile;

    h1,
    ul {
        margin: 20px 80px 20px 30px;
        cursor: pointer;
    }

    // Remove the extra margin from h1 on mobile
    @media (max-width: 768px) {
        h1 {
            margin: 20px 0;
        }
    }


    h1,ul{
        margin: 20px 80px 20px 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 50px;
        list-style: none;
        @include hide-on-mobile;
    }
}
section{
    @include flexCenter;
    height: 90vh;
    .calc{
        @include flexCenter;
        border-radius: 10px;
        flex-direction: column;
        gap: 40px;
        box-shadow: $calcshadow;
        width: 400px;
        height: 500px;

        label, input, .input{
            @include inputbox
        }

        button{
            @extend %btn-style;

            &:hover{
                background-color: black;
            }

            &:active{
                transform: translateX(2px) scale(0.97);
            }
        }
    }

}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
    }
}